<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorate="~{layout}">
	
<body>
	
   	<!--                    -->
   	<!-- Body Content Begin -->
   	<!--                    -->
	<section layout:fragment="content" class="feature-section spad">
	<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 p-0">
					<div class="feature-item set-bg" th:data-setbg="@{/img/features/1.jpg}">
						<span class="cata strategy rounded">Announcements</span>
						<div class="fi-content text-white">
							<h5>New Raid Schedule!</h5>
							<p>We will be raiding every night of the week from now on.</p>
							
							<hr />
							
							<h5>Thoce Nudes!</h5>
							<p>Officer's love the Thorce nudes.</p>
							
							<hr />
							
							<h5>Fergie will not be 60 in two weeks.</h5>
							<p>There's no way.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 p-0">
					<div class="feature-item set-bg" th:data-setbg="@{/img/features/1.jpg}">
						<span class="cata new rounded">Raids</span>
						<div class="fi-content text-white align-top">
						
							<div class="raid raid-signed-up rounded"><a href="raidDetails/1">2019-01-01 - Raid 1</a> (Signed Up)</div>
							<div class="raid raid-not-signed-up rounded"><a href="#">2019-01-01 - Raid 2</a> (Not Signed Up)</div>
							<div class="raid raid-in-raid rounded"><a href="#">2019-01-01 - Raid 3</a> (In Raid)</div>
							<div class="raid raid-benched rounded"><a href="#">2019-01-01 - Raid 4</a> (Benched)</div>
						
							<br />
						
							<div class="raid align-center rounded">Previous Raids</div>
							
							<div class="raid raid-signed-up rounded"><a href="#">2019-01-01 - Raid 1</a> (Signed Up)</div>
						</div>
<!-- 
							<div id="calendar" style="background-color:black; valign: bottom;" ></div>
							
							
<script>

$(document).ready(function() {
	var my_calendar = $("#calendar").dnCalendar({
        dataTitles: { defaultDate: 'default', today : 'Today' },
        notes: [
        		{ "date": "2015-12-25", "note": ["Merry Christmas 2015"] },
        		{ "date": "2015-12-31", "note": ["Happy New Year 2016"] },
        		{ "date": "2016-01-01", "note": ["<a href='https://www.jqueryscript.net/time-clock/'>2016-01-01 - Raid</a>"] }
        		],
        showNotes: true,
        dayClick: function(date, view) {
        	alert(date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear());
        }
	});

	// init calendar
	my_calendar.build();

	// update calendar
	my_calendar.update({
		minDate: "2015-12-05",
		defaultDate: "2015-12-04"
	});
});


</script>

-->

					</div>
				</div>
			</div>
		</div>
	</section>
   	<!--                    -->
   	<!-- Body Content End   -->
   	<!--                    -->
   	
  </body>
</html>