<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.springframework.org/security/tags"
	layout:decorator="layout">
	
  <head>
  	<title>AudiobookRss</title>
  </head>

<body>
   	<!--                    -->
   	<!-- Body Content Begin -->
   	<!--                    -->
	<div layout:fragment="content">

		<p>
			Welcome to Audiobook RSS!
		</p>

	</div>
   	<!--                    -->
   	<!-- Body Content End   -->
   	<!--                    -->
   	
  </body>
</html>